@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #35f1e8;
}


.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.article-preview {
  padding: 10px 16px;
  margin: 20px ,auto;
  border-bottom: 1px solid #fafafa;
}
.article-preview:hover {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  text-decoration: underline;
}
.article-preview h2 {
  font-size: 20px;
  color: #35f1e8;
  margin-bottom: 8px;
  max-width: 1000px;
}

.article-preview a {
  text-decoration: none;
}


.article-preview h4 {
  text-decoration: underline;
  margin-bottom: 10px;
}

.article-preview p {
  max-width: 1000px;
}

.article-list .search {
  margin-left: auto;
  display: flex;
  justify-content: end;
  padding: px;
}

.search input {
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  border: 2px solid black;
}
